" Enable IDEAVim Sneak plugin
set sneak

" Suppress annoying bell sound
set visualbell

let mapleader = ","
let maplocalleader = ","

" Easier escaping
inoremap jk <Esc>

" Less annoying buffer swapping
inoremap <C-Tab> <C-6>
nnoremap <C-Tab> <C-6>

" Move between windows with just ctrl+movement
nnoremap <C-J> <C-W>j
nnoremap <C-K> <C-W>k
nnoremap <C-L> <C-W>l
nnoremap <C-H> <C-W>h

set hlsearch
set incsearch

!command Git action ActivateCommitToolWindow

nnoremap <leader>e :action ActivateProjectToolWindow<CR>
nnoremap <leader>d :action CloseContent<CR>

nmap <silent> gd :action GotoDeclarationOnly<CR>
nmap <silent> gi :action GotoImplementation<CR>
nmap <leader>rn :action RenameElement
nmap gr <Action>(FindUsages)
nmap <C-P> <Action>(GotoFile)

